@font-face {
    font-family: 'Joystix';
    src: url('./assets/fonts/joystix monospace.ttf');
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    height: 100vh;
    color: #24252a;
}

#game,
.fullscreen {
    height: inherit;
    background: #dfdfdf;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}